@import "tailwindcss";
/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */
@import "@shoelace-style/shoelace/dist/themes/light.css";

:root {
    /* Changes the primary theme color to purple using primitives */
    --sl-color-primary-50: theme(colors.blue.50);
    --sl-color-primary-100: theme(colors.blue.100);
    --sl-color-primary-200: theme(colors.blue.200);
    --sl-color-primary-300: theme(colors.blue.300);
    --sl-color-primary-400: theme(colors.blue.400);
    --sl-color-primary-500: theme(colors.blue.500);
    --sl-color-primary-600: theme(colors.blue.600);
    --sl-color-primary-700: theme(colors.blue.700);
    --sl-color-primary-800: theme(colors.blue.800);
    --sl-color-primary-900: theme(colors.blue.900);
    --sl-color-primary-950: theme(colors.blue.950);

    /* Colors */
    /* Primary colors */
    --color-primary: theme("colors.blue.600"); /* For primary buttons/badges */
    --color-success: theme("colors.green.600"); /* For success buttons/badges */
    --color-neutral: theme("colors.gray.500"); /* For neutral buttons/badges */

    /* Text colors */
    --text-primary: theme("colors.gray.900");
    --text-secondary: theme("colors.gray.500");
    --text-success: theme("colors.green.600");
    --text-danger: theme("colors.red.600");

    /* Background colors */
    --bg-hover: theme("colors.gray.50");
    --bg-header: theme("colors.gray.50");

    /* Spacing */
    --spacing-base: theme(
        "spacing.4"
    ); /* 1rem - Basic padding for containers */
    --spacing-small: theme(
        "spacing.2"
    ); /* 0.5rem - Used for gaps between items */

    /* Typography */
    --font-size-heading: theme("fontSize.2xl"); /* 1.5rem */
    --font-size-base: theme("fontSize.base");
    --font-size-small: theme("fontSize.xs");

    --font-weight-bold: theme("fontWeight.bold");

    /* Border & Shadows */
    --border-color: theme("colors.gray.200");
    --border-width: theme("borderWidth.DEFAULT");
}
